@charset "utf-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body */
.all_content{
  background:#ECF1F6;
}
ul,
li{
  list-style:none;
}
.error-overname,.error-undername,.error-over_kana,.error-under_kana,.error-mail,.error-birth,.error-password,.error-sex,.error-role{
  position: relative;
  top:10px;
  color:red;
  font-size:7%;
}
.main_category,.sub_category,.comment{
  font-size:10%;
  color:red;
  white-space: nowrap;
}
.mt-3{
  white-space: nowrap;
}
.select-student{
  display: inline-block;
}
/* サイドバー */
.sidebar{
  width:230px;
  height:150vh;
  background-color:#03AAD2;
  font-weight:bold;
}
.main-container{
  width:100%;
  height:60%
}
.sidebar a{
  color:#FFF;
  position: relative;
  left: 15%;
  top:20px
}
.auth-sidebar-top a:hover{
  background-color:#666;
  padding: 5% 42% 5% 10%;
  white-space: nowrap;
  box-shadow:0px 0px 10px #666;
  transition: 0.4s;
  color: white;
  border-bottom: none;
}
.auth-sidebar-logout a:hover{
  background-color:#666;
  padding: 5% 24% 5% 10%;
  white-space: nowrap;
  box-shadow:0px 0px 10px #666;
  transition: 0.4s;
  color: white;
  border-bottom: none;
}
.auth-sidebar-reserve a:hover{
  background-color:#666;
  padding: 5% 18% 5% 10%;
  white-space: nowrap;
  box-shadow:0px 0px 10px #666;
  transition: 0.4s;
  color: white;
  border-bottom: none;
}
.auth-sidebar-confirmation a:hover{
  background-color:#666;
  padding: 5% 0% 5% 10%;
  white-space: nowrap;
  box-shadow:0px 0px 10px #666;
  transition: 0.4s;
  color: white;
  border-bottom: none;
}
.auth-sidebar-frame a:hover{
  background-color:#666;
  padding: 5% 8% 5% 10%;
  white-space: nowrap;
  box-shadow:0px 0px 10px #666;
  transition: 0.4s;
  color: white;
  border-bottom: none;
}
.auth-sidebar-posts a:hover{
  background-color:#666;
  padding: 5% 41% 5% 10%;
  white-space: nowrap;
  box-shadow:0px 0px 10px #666;
  transition: 0.4s;
  color: white;
  border-bottom: none;
}
.auth-sidebar-user a:hover{
  background-color:#666;
  padding: 5% 15% 5% 10%;
  white-space: nowrap;
  box-shadow:0px 0px 10px #666;
  transition: 0.4s;
  color: white;
  border-bottom: none;
}
.icon::before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f007";
  position: relative;
  right:15px
}
/* トップページ */
.user_status{
  border-radius:10px;
  background:#FFF;
}

/* スクール予約関連 */
.day-blank{
  background:#D3D3D3;
}
.days-sat .day{
  color:#0000FF;
}
.days-sun .day{
  color:red;
}
.past-day{
  background:#EEE;
}
.calendar-td{
  min-width:100px;
}
.day_part{
  color:#494949;
  font-size:12px;
}
.adjust-table{
  width:70% !important;
}
.adjust-table td{
  padding:0 !important;
}
.adjust-area p{
  justify-content: space-around;
}
.adjust-table-btn{
  width:70%;
}

/* モーダル */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}
/* 掲示板 */
.sub_categories{
  display:none;
}
.subcategories{
  position: relative;
  left:10%;
  bottom:40px;
  width:40%;
  cursor: pointer;
}
.subcategories input{
  background-color: none;
  border:none;
  color: blue;
}
.post_create_area{
  background:#FFF;
  border-radius:10px;
}
.post_create_area textarea{
  resize:none;
  height:300px;
  white-space: pre-wrap;
}
.detail_container{
  background:#FFF;
}
.post_area{
  background:#FFF;
  border-radius:10px;
}
.post_bottom_area{
  justify-content: space-between;
}
.like_btn,
.un_like_btn{
  cursor:pointer;
  position: relative;
  left:460px
}
.un_like,
.un_like_btn{
  color:#E2254D;
  position: relative;
  left:460px
}
.like-count{
  position: relative;
  left:460px
}
.error_message{
  font-size:10px;
  color:red;
}
.button-comment{
  position: relative;
  left:500px
}
.comment-count{
  position: relative;
  left:500px
}
.post-subcategory{
  border-radius: 40vh;
  padding: 0% 2% 0% 2%;
}
.post-create{
  padding:3% 41% 3% 41%;
  border-radius: 5%;
  background: linear-gradient(90deg,rgb(175,223,228), rgb(22, 135, 237));
  cursor: pointer;
}
.post-create a{
  color:#fff;
  font-weight: bold;
}
.post-create a:hover{
  color:#fff;
  font-weight: bold;
}
.research{
  background: none;
  border: none;
}
/* 掲示板 詳細画面 */
.contributor{
  font-size:12px;
  color:#999;
  font-weight:bold;
}
.detsail_post_title{
  font-size:14px;
}
.detsail_post{
  font-size:12px;
  color:#9E9E9E;
}
.detail_inner_head{
  display:flex;
  justify-content: space-between;
}
.edit-modal-open{
  cursor:pointer;
}
.modal-inner-body textarea{
  height:140px;
  resize:none;
}
.edit-modal-btn{
  justify-content: space-between;
}
/* 掲示板 コメント */
.comment_container{
  background:#FFF;
}
.comment_area p,
.comment_area input{
  font-size:12px;
  font-weight:bold;
}
.comment_area textarea{
  height:300px;
  resize:none;
}
.comment_container span{
  font-size:12px;
}
.post_status span{
  font-size:12px;
}

/* 掲示板　カテゴリー */
.category_area{
  background:#FFF;
  border-radius:10px;
}
.category_box{
  border-radius:5px;
  padding:3px;
  background:#999;
  font-size:10px;
  color:#FFF;
}
.category_btn_like{
  font-size:12px;
  border-radius:5px;
  padding:0 5px;
  border:none;
  background:pink;
  color:#FFF;
  padding: 2% 4% 2% 4%;
  cursor: pointer;
}
.category_btn_mine{
  font-size:12px;
  border-radius:5px;
  padding:0 5px;
  border:none;
  background:orange;
  color:#FFF;
  position: relative;
  left:10px;
  padding: 2% 8% 2% 8%;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}
.sub_categories li input{
  list-style:none;
  cursor:pointer;
}
.main_categories{
  position: relative;
  font-weight: bold;
  left:10px;
}
li input{
  position: relative;
  top:40px
}
.accordion{
  position: relative;
  cursor: pointer;
}


.accordion:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 10px;
  height: 10px;
  border-top: solid 2px black;
  border-right: solid 2px black;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}
/* ユーザー検索 */
.reserve_users_area{
  display:flex;
  flex-wrap:wrap;
  width:800px;
  margin:10px auto;
  height:80vh;
  overflow: scroll;
  padding:10px;
  background:#FFF;
  border-radius:5px;
}

.reserve_users_area span{
  font-size:12px;
}
.one_person{
  width:250px;
  height:250px;
}
.search_conditions span{
  cursor:pointer;
  position: relative;
  left:27px;
  top:150px;
}
.search_conditions_inner{
  display:none;
  background:#FFF;
  position: relative;
  top:150px;
}
.selected-role,.selected-sex,.selected-engineer{
  position: relative;
  left:30px
}
.search-images{
  width:12%;
  position: relative;
  top:6px;
  right:30px
}
.search-image-text{
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid black;
}
.subject_edit_btn{
  font-size:12px;
  color:#0000FF;
  cursor:pointer;
}
.subject_inner{
  display:none;
}
.pt-cancel{
  position: relative;
  left:30%;
}
.pt-close{
  position: relative;
  right:30%;
}
.pt-reserve{
  position: relative;
  right:1%;
  background: linear-gradient(90deg,rgb(175,223,228), rgb(22, 135, 237));
}
.text-right input{
  color: #fff;
}
.reserve-dates,.reserve-parts{
  border:none;
  background: none;
  position: relative;
  bottom:7px;
}
.reserve-dating,.reserve-parting{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left:30%;
}
.reserve-name{
  white-space: nowrap;
  padding: 10px;
}
.reserve-detail{
  border:none;
  background: transparent;
  color: #03AAD2;
  cursor: pointer;
}
.reserve-detail:hover{
  border-bottom: 2px solid #03AAD2;
  text-underline-offset:10px;
}
.reserve-detail:active{
  background: transparent;
  border:none;
  outline: none;
}
.reserve-place{
  white-space: nowrap;
  position: relative;
  right:80%
}
.post-search{
  margin-top: 10px;
}
.search-word{
  position: relative;
  top:50px;
  left:27px;
  font-size: larger;
  font-weight: bold;
}
.search-keyword{
  border-radius: 5%;
  position: relative;
  top:50px;
  left:27px;
  border-radius: 100vh;
  padding-right: -200px;
  background-color: #f2f2f2;
}
.search-category{
  position: relative;
  top:70px;
  right:13px
}
.category-word{
  font-size: small;
  position: relative;
  left:15%
}
.category-span{
  position: relative;
}
.category-select{
  border-radius: 100vh;
  padding: 5px 0px 5px 0px;
  position: relative;
  top:30px;
  right:30px;
  background-color: #f2f2f2;
}
.category-updown{
  font-size: small;
  position: relative;
  left:10%;
  bottom:23px
}
.search-updown{
  position: relative;
  top:130px;
}
.updown-select{
  border-radius: 100vh;
  padding: 5px 10px 5px 5px;
  position: relative;
  top:10px;
  right:31px;
  background-color: #f2f2f2;
}
.reset{
  position: relative;
  top:200px;
  left:97px;
  background: none;
  border: none;
  color:blue;
  cursor: pointer;
}
.search-button{
  position: relative;
  top:140px;
  left:27px;
  padding: 3px 50px 3px 50px;
  background: linear-gradient(90deg,rgb(175,223,228), rgb(22, 135, 237));
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.border-primary{
  font-size: small;
}
.delete-btn a{
  color:#FFF
}